* {
    margin:0;
    padding: 0;
}

:root {
    font-family: "Alice", serif;
    color: #573A37;
}

body {
    background-image: url(/assets/cookie-gigante-01.jpg);
    background-size: cover;
    background-color: #bba5359f;
    
}

#page {
    box-sizing: border-box;
    width: 800px;
    padding: 24px;
    background-color: #f0ebc2;
    border-radius: 24px;
    margin: 48px auto 28px;
}

img {
    border-radius: 16px;
    width: 650px;
    height: 488px;
    display: block;
    margin: 0 auto;

}

main {
    padding: 24px;

}

section + section {
    margin-top: 24px;
}

#about p + p {
    margin-top: 12px;
}

h1 {
    line-height: 140%;
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

h1, h2 {
    color: #291B1A;
    margin-bottom: 4px;
    line-height: 150%;
}

ul {
    padding-left: 28px;
}

footer {
    color: #000000;
    text-align: center;
    padding-bottom: 48px;
}

footer img {
    vertical-align: middle;
    display: flex;
    
} 